#projectList {
  max-width: 1700px;

  .search {
    width: 100%;
    max-width: 1650px;
    margin-right: 5px;
    mat-form-field {
      width: 100%;
    }
  }

  h2{
    color: #2F3133;
    margin-top: 4px !important;
  }

  .envolti-table {
    margin-top: 20px;
    overflow: auto;
    max-height: 645px;
    width: 100%;


    border-radius: 10px;

    .mat-column-icon {
      width: 75px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }

    .iconAdd {
      background-color: rgb(253, 253, 253);
    }
  }
}
