#projectList{
    max-width: 1220px;

    .search {
        width: 100%;
        max-width: 1205px;
        margin-right: 5px;
        mat-form-field {
          width: 100%;
        }
      }

      .envolti-table {
        margin-top: 20px;
        overflow: auto;
        max-height: 150px;
        width: 100%;
        border-radius: 10px;
  
        .mat-column-icon {
          width: 50px;
        }
    
        .button-tab {
          white-space: nowrap;
          overflow: hidden;
        }

        .icon {
          color: #753BBD !important;
          background-color: rgb(253, 253, 253);
        }
    
      }
    
}