<div id="portal-page" class="page">

  <div class="portal-content" fxLayout="row" fxLayoutAlign="space-evenly">
    <button (click)="handleProject(1)" class="box-management-purple" fxLayout="column">
      <img src="../../../assets/icons/purple-rocket-icon.png" class="rocket-button" />
      <a>Projeto e Alocação</a>
    </button>
    <button (click)="handleProject(2)" class="box-management-blue" fxLayout="column">
      <img src="../../../assets/icons/blue-rocket-icon.png" class="rocket-button" />
      <a>Projeto AMS</a>
    </button>
  </div>
</div>