#portal-page {

  .portal-content {
    width: 100%;
    display: flex;
    margin-top: 10%;
  }

  .rocket-button {
    max-width: 180px;
    padding: 20px;
    width: 100%;
    box-align: center;
    width: 100%;
    margin-left: 25px;
  }

  .project {
    font-size: 18px !important;
    font-family: "Branding";
    text-align: center !important;
    margin-left: 45px;
  }

  .ams-project{
    font-size: 18px !important;
    font-family: "Branding";
    text-align: center !important;
    margin-left: 65px;
  }

  .box-management-blue,
  .box-management-purple {
    border-style: groove;
    border-width: 3px;
    border-radius: 10px;
    border-color: #6935AB;
    background-color: white;
    text-align: justify;
    text-align: center !important;
    max-width: 250px;
    width: 100%;
    margin: 16px;
    cursor: pointer;
  }


}

.button{ 
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
