#projectResourcesTab {
  .content-scroll {
    overflow: auto;
    height: calc(100vh - 280px);
  }
  padding-bottom: 10px;
  max-width: 1220px;

  table {
    width: 100%;
  }

  .envolti-table {
    overflow: auto;
    max-height: 300px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;

    .mat-column-icon {
      width: 50px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.content-scroll {
  .envolti-table {
    .button-tab {
      width: 100%;
      display: fle;
      padding-right: 100px;
    }
  }
}

#collaboratorResourcesDialog {
  .button-dialog {
    width: 100%;
  }
}
