<mat-toolbar fxLayoutAlign="space-between center">
  <img src="../assets/logo/logo-envolti-branca-roxo.png" alt="" />
  <button
    *ngIf="sidenav.mode !== 'over'"
    mat-button
    class="menu-button-logout"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
    <span>{{ "Logout" }}</span>
  </button>
  <div *ngIf="sidenav.mode === 'over'">
    <button mat-button class="menu-button-logout" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav="matSidenav"
    class="mat-elevation-z8"
    [ngStyle]="(openTree && { width: '100px' }) || { width: '250px' }"
  >
    <img
      *ngIf="openTree != true"
      class="avatar mat-elevation-z8"
      src="../assets/icons/avatar-astronauta.png"
    />
    <h2 *ngIf="openTree != true" class="name">Usuário</h2>
    <p *ngIf="openTree != true" class="designation">Função</p>

    <mat-divider *ngIf="openTree != true"></mat-divider>

    <div
      class="design"
      [ngStyle]="
        (openTree && { 'margin-top': '295px' }) || { 'margin-top': '30px' }
      "
    >
      <div
        class="btn-menu"
        [ngStyle]="
          (openTree && { 'margin-left': '1px' }) || { 'margin-left': '20px' }
        "
      >
        <button
          class="btn-menu"
          mat-button
          class="menu-button"
          (click)="openApp()"
        >
          <mat-icon
            [ngStyle]="
              (openTree && { 'margin-left': '15px' }) || {
                'margin-left': '3px'
              }
            "
            >home</mat-icon
          >
          <span *ngIf="openTree != true">Início</span>
        </button>
      </div>
      <div
        class="btn-menu"
        [ngStyle]="
          (openTree && { 'margin-left': '1px' }) || { 'margin-left': '20px' }
        "
      >
        <button
          [ngClass]="{ active: activeMenu == projects }"
          class="btn-menu"
          mat-button
          class="menu-button"
          (click)="navigator('projetos')"
        >
          <mat-icon
            [ngStyle]="
              (openTree && { 'margin-left': '15px' }) || {
                'margin-left': '3px'
              }
            "
            >analytics</mat-icon
          >
          <span *ngIf="openTree != true">Projetos</span>
        </button>
      </div>
      <div
        class="menu-button-more"
        [ngStyle]="
          (openTree && { 'margin-left': '1px', 'margin-top': '370px' }) || {
            'margin-left': '20px',
            'margin-top': '350px'
          }
        "
      >
        <button
          mat-icon-button
          (click)="recize()"
          [ngStyle]="
            (openTree && { 'margin-left': '5px' }) || { 'margin-right': '25px' }
          "
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </div>
    <div class="btn-menu" [ngStyle]="openTree && {'margin-left': '1px'} || {'margin-left': '20px'}">
    <button [ngClass]="{'active': activeMenu == projects}" class="btn-menu" mat-button class="menu-button"  (click)="navigator('projetos')" >
      <mat-icon [ngStyle]="openTree && {'margin-left': '15px'} || {'margin-left': '3px'}">analytics</mat-icon>
      <span *ngIf="openTree != true" >Projetos</span>
    </button>
    </div>
    <div  [ngStyle]="openTree && {'margin-left': '1px'} || {'margin-left': '20px'}">
      <button mat-flat-button  class="menu-button-more" (click)=recize() 
      [ngStyle]="openTree && {'margin-left': '5px'} || {'margin-right': '25px'}">
        <mat-icon  [ngStyle]="openTree && {'margin-top': '380px'} || {'margin-top': '360px'}">more_horiz</mat-icon>
      </button>
      </div>

  </mat-sidenav>
  <mat-sidenav-content
    [ngStyle]="
      (openTree && { 'margin-left': '150px' }) || { 'margin-left': '250px' }
    "
  >
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
