#resourceDialog {


  overflow: hidden;
    height: 100%;

  .dialog-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  h2 {
    color: white !important;
    padding-top: 20px !important;
    padding-left: 35px;
  }

  .content-header {
    background-color: #208fd8;
    height: 100% !important;
    height: 70px !important;
  }

  .mat-icon-form {
    color: white !important;
    margin-left: 720px !important;
    margin-top: 15px;
  }
  

  // .button-dialog{
  //   margin-left: 210px;
  // }

  // .button-resource-dialog-control {
  //   padding: 1px;
  //   background: #3f1870;

  //   h2 {
  //     color: #fff;
  //     margin-top: 10px;
  //   }
  // }

  .button-form {
    height: 50px;
    margin-top: 5px;
    flex: 1 1 100%
  }

  // .form-content {
  //   width: 100%;
  //   margin-left: 36px;
  // }

  // .button-resource {
  //   width: 100%;
  // }

  // .table-margin {
  //   height: 100%;
  //   width: 100%;
  //   max-height: 400px;
  // }

  // .icon-ressource-dialog {
  //   color: rgb(247, 247, 247);
  //   margin-top: 15px;
  //   margin-left: 20px;
  // }

  // .mat-typography {
  //   margin-top: 30px;
  // }

  // .cancel-icon {
  //   color: #fff;
  // }

  .envolti-table {
    margin: auto;
    margin-top: 40px;
    height: 100%;
    max-height: 250px;
    border-radius: 10px;
    overflow: auto;
    width: 100%;
    max-width: 950px;
  }

  // .form-content {
  //   margin-bottom: 10px;
  // }
}


// .mat-dialog-container {
//   padding: 0;
//   border-radius: 10px;
// }

// .mat-select-panel {
//   max-height: 168px !important;
// }