#resource-tab {
  padding-bottom: 10px;
  max-width: 1650px;

  table {
    width: 100%;
  }

  .button-dialog {
    margin-left: 140px;
  }

  .title-dialog {
    text-align: center;
  }

  .envolti-table {
    width: 100%;

  }
}
