#projectCreate {
    .tab-group {
      width: 100%;
      cursor: pointer;
    }
  
    .tab-item {
      white-space: nowrap;
      overflow: hidden;
    }
  
    .title {
      margin: 0 !important;
    }
  }