<div id="customerCreate" class="page">
  <div fxLayout="row" fxLayoutAlign="start start">
    <button (click)="goBackProjects()" color="primary" mat-button>
      <mat-icon> chevron_left </mat-icon>
    </button>
    <h2>Projetos</h2>
  </div>
  <div fxLayout="row" class="tab" fxLayoutGap="16px">
    <div (click)="handleStep(1)" fxLayout="column" class="tab-group">
      <p class="tab-item">Cadastro</p>
      <span class="tab-border"></span>
    </div>
    <div (click)="handleStep(2)" fxLayout="column" class="tab-group">
      <p class="tab-item">Recursos/Atividades</p>
      <span class="tab-border"></span>
    </div>
    <div (click)="handleStep(3)" fxLayout="column" class="tab-group">
      <p class="tab-item">Acompanhamento</p>
      <span class="tab-border"></span>
    </div>
  </div>

  <app-projects-allocation-register-tab
    [hidden]="step != 1"
    [form]="projectForm"
    (onChange)="handleChanges($event)"
  >
 </app-projects-allocation-register-tab>
  <app-projects-allocation-resources-tab
    [hidden]="step != 2"
    (onChange)="handleChanges($event)"
  >
  </app-projects-allocation-resources-tab>
  <app-projects-allocation-panel-tab
    [hidden]="step != 3"
    (onChange)="handleChanges($event)"
  >
  </app-projects-allocation-panel-tab>

  <div class="navigation-buttons" fxLayoutAlign="center end" fxLayoutGap="16px">
    <button mat-button *ngIf="step != 1" (click)="navigate('back')">
      Voltar
    </button>
    <button
      mat-flat-button
      *ngIf="step != 2"
      (click)="navigate('next')"
      color="primary"
    >
      Continuar
    </button>
    <button mat-flat-button *ngIf="step == 2" color="primary">Salvar</button>
  </div>
</div>
