#projectPanelTab{
  max-width: 1200px;
  
    .content-scroll {
        overflow: auto;
        height: calc(100vh - 280px);
      }

      .envolti-table {
        margin-top: 20px;
        overflow: auto;
        max-height: 600px;
        width: 100%;
        border-radius: 10px;

    
      }
  

}