<div id="projectPanelTab" class="table-styles" class="tab">
  <div class="content-scroll">
    <div class="envolti-table mat-elevation-z8" fxLayout="column">
      <table mat-table [dataSource]="filteredProjectList" #projectTable>
        <ng-container matColumnDef="ressource">
          <th mat-header-cell *matHeaderCellDef>Recurso</th>
          <td mat-cell *matCellDef="let panel">
            {{ panel.resource }}
          </td>
        </ng-container>

        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef>Horas Executadas</th>
          <td mat-cell *matCellDef="let panel">
            {{ panel.hours }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let panel">
            {{ panel.status == 1 
              ? "Em elaboração" 
              : panel.status == 2
              ? "Enviada"
              : panel.status == 3
              ? "Parada"
              : panel.status == 4
              ? "Declinada"
              : "Nova proposta"
             }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedPanel; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedPanel"></tr>
      </table>
    </div>
  </div>
</div>
