#projectRegisterTab {
    max-width: 1200px;
    width: 100%;
  
    .content-scroll {
      overflow: auto;
      height: calc(100vh - 280px);
    }
  
    .checkbox {
      margin-top: 15px;
    }
  
    .title-dialog {
      text-align: center;
    }
  
    .title-dialog {
      text-align: center;
    }
  }
  