<div #portalPage class="page">
    <div class="portal-content" fxLayout="row" fxLayoutAlign="center center" >
        <div class="box-management-purple" (click)="navigateToAllocationProject()">
          <img src="../../../assets/icons/purple-rocket-icon.png" class="rocket-button" />
          <a>Projeto de Alocação</a>
        </div>
        <div class="box-management-blue" (click)="navigateToAms()">
          <img src="../../../assets/icons/blue-rocket-icon.png" class="rocket-button" />
          <a>Projeto AMS</a>
        </div>
    </div>
  </div>
  
