<div id="portal-page" class="page">
 
    <div class="portal-content" fxLayout="row" fxLayoutAlign="space-evenly">
      <button
      (click)="navigateToProject()"
      (click)="checkProjectTypeAllocation()"
        class="box-management-purple"
        fxLayout="column">
        <img
          src="../../../assets/icons/purple-rocket-icon.png"
          class="rocket-button" />
        <a>Projeto de Alocação</a>
      </button>
      <button
        (click)="navigateToProject()"
        (click)="checkProjectTypeAms()" 
        class="box-management-blue"
        fxLayout="column">
        <img
          src="../../../assets/icons/blue-rocket-icon.png"
          class="rocket-button" />
        <a>Projeto AMS</a>
      </button>
    </div>
  </div>
  
