<div id="projectRegisterTab" class="tab">
  <div class="content-scroll" *ngIf="projectForm">
    <form (submit)="next()" [formGroup]="projectForm" fxLayout="column">
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field
          fxFlex="50"
          appearance="outline"
          *ngIf="projectType === '1'"
        >
          <mat-label>{{
            "projects.project_register.projectType" | translate
          }}</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="1">{{
              "projects.project_generic.project" | translate
            }}</mat-option>
            <mat-option [value]="3">{{
              "projects.project_generic.allocation" | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          fxFlex="50"
          appearance="outline"
          *ngIf="projectType === '2'"
        >
          <mat-label>{{
            "projects.project_register.projectType" | translate
          }}</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="2">AMS</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{
            "projects.project_generic.name" | translate
          }}</mat-label>
          <input
            matInput
            disableRipple
            formControlName="name"
            placeholder="Nome"
          />
        </mat-form-field>
        <mat-form-field
          fxFlex=" 30"
          appearance="outline"
          *ngIf="projectId !== 'cadastro'"
        >
          <mat-label>{{
            "projects.project_register.code" | translate
          }}</mat-label>
          <input
            matInput
            [formControl]="codeInputDisabled"
            type="number"
            placeholder="Código"
            formControlName="code"
          />
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field
          fxFlex="50"
          appearance="outline"
          *ngIf="this.method === 'create'"
        >
          <mat-label>{{
            "projects.project_generic.client" | translate
          }}</mat-label>
          <input
            type="text"
            placeholder="Cliente"
            aria-label="text"
            #fiilter
            matInput
            [matAutocomplete]="autoCustomer"
            [formControl]="customerControl"
          />
          <mat-error
            *ngIf="customerControl && customerControl.hasError('required')"
          >
            {{ "validators.validator-required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              customerControl &&
              !customerControl.hasError('required') &&
              customerControl.hasError('incorrect')
            "
          >
            {{ "validators.select-option" | translate }}
          </mat-error>
          <mat-autocomplete
            autoActiveFirstOption
            #autoCustomer="matAutocomplete"
            [displayWith]="displayFnCustomer"
          >
            <mat-option
              *ngFor="let customer of filteredCustomers"
              [value]="customer"
            >
              {{ customer.corporateName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          *ngIf="this.method === 'edit'"
          fxFlex="25"
          class="example-full-width"
        >
          <mat-label>{{
            "projects.project_generic.client" | translate
          }}</mat-label>
          <input
            disabled
            matInput
            disableRipple
            [value]="this.customerControl.value"
          />
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{
            "projects.project_register.responsible" | translate
          }}</mat-label>
          <mat-select formControlName="responsible">
            <mat-option value="1">João da Silva</mat-option>
            <mat-option value="2">Fernando Garcia</mat-option>
            <mat-option value="3">Paulo Pereira</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{
            "projects.project_generic.start_date" | translate
          }}</mat-label>
          <input
            matInput
            mask="00/00/0000"
            [showMaskTyped]="true"
            [dropSpecialCharacters]="false"
            placeholder="startDate"
            formControlName="startDate"
          />
        </mat-form-field>

        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>{{
            "projects.project_generic.end_date" | translate
          }}</mat-label>
          <input
            matInput
            mask="00/00/0000"
            [showMaskTyped]="true"
            [dropSpecialCharacters]="false"
            placeholder="Data de criação"
            formControlName="endDate"
          />
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{
            "projects.project_register.contractedHours" | translate
          }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="contractedHours"
            placeholder="Horas Contratadas"
          />
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayoutGap="16px">
        <mat-form-field
          fxFlex="50"
          appearance="outline"
          *ngIf="this.method === 'create'"
        >
          <mat-label>Solicitante</mat-label>
          <input
            type="text"
            placeholder="Solicitante"
            aria-label="text"
            #filter
            matInput
            [matAutocomplete]="autoRequester"
            [formControl]="collaboratorControl"
          />
          <mat-error
            *ngIf="
              collaboratorControl && collaboratorControl.hasError('required')
            "
          >
            {{ "validators.validator-required" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              collaboratorControl &&
              !collaboratorControl.hasError('required') &&
              collaboratorControl.hasError('incorrect')
            "
          >
            {{ "validators.select-option" | translate }}
          </mat-error>
          <mat-autocomplete
            autoActiveFirstOption
            #autoRequester="matAutocomplete"
            [displayWith]="displayFnRequester"
          >
            <mat-option
              *ngFor="let collaborator of filteredCollaborators"
              [value]="collaborator"
            >
              {{ collaborator.firstNameCorporateName }}
              {{ collaborator.lastNameFantasyName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          *ngIf="this.method === 'edit'"
          fxFlex="25"
          class="example-full-width"
        >
          <mat-label>Solicitante</mat-label>
          <input
            disabled
            matInput
            disableRipple
            [value]="this.collaboratorControl.value"
          />
        </mat-form-field>

        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>{{
            "projects.project_generic.status" | translate
          }}</mat-label>
          <mat-select formControlName="status">
            <mat-option [value]="1">{{
              "projects.project_register.in_preparation" | translate
            }}</mat-option>
            <mat-option [value]="2">{{
              "projects.project_register.sent" | translate
            }}</mat-option>
            <mat-option [value]="3">{{
              "projects.project_register.stopped" | translate
            }}</mat-option>
            <mat-option [value]="4">{{
              "projects.project_register.declined" | translate
            }}</mat-option>
            <mat-option [value]="5">{{
              "projects.project_register.new_proposal" | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayoutGap="16px" >
        <mat-form-field
          *ngIf="projectType === '1'"
          floatLabel="always"
          style="disabled"
          fxFlex="70"
          appearance="outline"
        >
          <mat-label>{{
            "projects.project_register.value" | translate
          }}</mat-label>
          <input
            matInput
            prefix="R$"
            type="text"
            mask="separator.2"
            thousandSeparator="."
            separatorLimit="10000000"
            formControlName="value"
            class="example-right-align"
          />
        </mat-form-field>

        <div class="checkbox" >
          <mat-checkbox color="primary" class="custom-check" *ngIf="projectType === '1'" style="disabled" class="custom-frame" formControlName="hourControl" fxLayoutAlign="center center">{{ "projects.project_register.hour_control" | translate }}</mat-checkbox>
        </div>
      </div>
    </form>
  </div>
</div>
